{% extends "base.html" %}

{% block content %}

<div class= "container outer">

<div class="container">
	
    <div class="row">
		<div class="col-md-12">
        <ol class="breadcrumb">
  			<li class="breadcrumb-item"><a href="{% url 'index' %}">HOME</a></li>
  			<li class="breadcrumb-item"><a href="{% url 'branchview' branchname='all' year='0' %}">BRANCHES</a></li>
  			<li class="breadcrumb-item active">{{selectedbranch.branchname}}</li>
		</ol>
		</div>
    </div>
</div>


<div class="container">
<div class="row">
<div class= "col-md-6">
    <div class="form-group">
  <label for="sel1">Branch:</label>
  <select class="form-control" id="sel1" onchange="location = this.value;">
    <option selected disabled hidden>{{selectedbranch}}</option>
    {% for branch in branches %}
    <option value="{% url 'branchview' branchname=branch.branch_short year=year %}">{{branch.branchname}}</option>
    {% endfor %}
  </select>
  </div>
</div>
<div class= "col-md-6">
    <div class="form-group">
  <label for="sel1">Year:</label>
  <select class="form-control" id="sel1" onchange="location = this.value;">
    <option selected disabled hidden>{{year}}</option>
    <option value="{% url 'branchview' branchname=selectedbranch.branch_short year='1' %}">1</option>
    <option value="{% url 'branchview' branchname=selectedbranch.branch_short year='2' %}">2</option>
    <option value="{% url 'branchview' branchname=selectedbranch.branch_short year='3' %}">3</option>
    <option value="{% url 'branchview' branchname=selectedbranch.branch_short year='4' %}">4</option>
  </select>
  </div>
</div>
</div>
</div>

<br><br>


<div class="container">
	<div class="row">
	{% for subject in subjects %}

		<div class=" container col-lg-3 col-md-4 col-sm-6 col-xs-12">
	
    <div class="subbox panel">
                                <!--<span class="ribbon_course"></span>-->
                                <a href="{% url 'subjectview' pk=subject.pk %}" class="box-image">
                                <div class="photo" style="background-color: {% cycle '#ffb3b3' '#00cccc' '#b3b3ff' '#ffd9b3' '#ffcc66' '#99ff99' '#ff6666' %};">
                                    <span class="word">
                                    {{subject.abbrev}}
                                    </span>
                                </div></a>
                                <div class="cat"><a href="{% url 'subjectview' pk=subject.pk %}">Course:
                                        Engineering</a>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="subname" style="width:100%;">
                                            <a href="{% url 'subjectview' pk=subject.pk %}">{{subject.title}}</a>

                                        </div>
                                    </div>
                                </div>
    </div>
    </div>
    {% endfor %}
	</div>
</div>
<br>
<br>
<br>
</div>
{% endblock %}