{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="container">
        
    <div>
        <img class="aboutpic1" src ="{% static "noteapp/images/aboutpic1.png" %}">
    </div>
     
    <div class="container">
        <div class="aboutheading">
            <h1><strong>Thank you, {{ fname }} !</strong></h1>
        </div>
        <div class="aboutpara">

            <h4>Your message has been registered and will be taken under consideration. We will get back to you shortly!</h4>
        </div>
    </div>
</div> 

{% endblock %}