{% extends "base.html" %}

{% block content %}

     <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form name="form" class="form-horizontal" action = "{% url "savemessage" %}"  method="POST" >{% csrf_token %}
                    <fieldset>
                        <legend class="text-center contactpageheader">Contact us</legend>
                        <h2 class="subhead">Feel free to Contact us</h2>
 
                        <br>
                        <br>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-user" style="font-size: 30px"></span>
                            <div class="col-md-8">
                                <input id="fname" name="fname" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-console" style="font-size: 30px"></span>
                            <div class="col-md-8">
                                <input id="lname" name="lname" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-envelope" style="font-size: 30px"></span>
                            <div class="col-md-8">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                       <br>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center glyphicon glyphicon-pencil" style="font-size: 30px"></span>
                            <div class="col-md-8">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your message for us here." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" value="sendmessage">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}