{% extends "base.html" %}

{% block content %}
<div class="container">
    	
        
        <div class="row">
        <div class="col-md-12"><h1 class="sectiontitle" align="center">FEATURED SUBJECTS</h1>
   


{% for subject2 in subjects2 %}

        <div class=" container col-lg-3 col-md-4 col-sm-6 col-xs-12">
    
    <div class="subbox panel">
                                <!--<span class="ribbon_course"></span>-->
                                <a href="{% url 'subjectview' pk=subject2.pk %}" class="box-image">
                                <div class="photo" style="background-color: {% cycle '#ffb3b3' '#00cccc' '#b3b3ff' '#ffd9b3' '#ffcc66' '#99ff99' '#ff6666' %};">
                                    <span class="word">
                                    {{subject2.abbrev}}
                                    </span>
                                </div></a>
                                <div class="cat"><a href="{% url 'subjectview' pk=subject2.pk %}">Course:
                                        Engineering</a>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="subname" style="width:100%;">
                                            <a href="{% url 'subjectview' pk=subject2.pk %}">{{subject2.title}}</a>

                                        </div>
                                    </div>
                                </div>
    </div>
    </div>
    {% endfor %}
              
        
            </div>
        </div>

        <br>
        <br>
        <br>

        <div class="row">
			
			<div class="col-md-12"><h1 class="sectiontitle" align="center">SELECT YOUR BRANCH</h1>
		  
		  
				<div class="col-sm-12 col-md-12 "> 
        			{% for branch in branches %}
                    
                    <div class="sec1 col-md-6">
        				<div class="numberCircle">
        					<span>{% cycle '1' '2' '3' '4' '5' '6' '7' '8' '9' %}</span>
        				</div>
        				<div class="relative">
        					<a href="{% url 'branchview' branchname=branch.branch_short year='0' %}"><h2>{{branch.branchname}}</h2></a>
                            <br>
                            <div class= "subsummary"><span class="glyphicon glyphicon-education"></span> Subjects: {{branch.nos}} | <span class="glyphicon glyphicon-duplicate"></span>Notes: {{branch.non}}
                            </div>
        				</div>
        			</div>
                    {% endfor %}  

                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-12"><h1 class="sectiontitle" align="center">LATEST UPLOADS</h1>
   

    {% for note in notes %}
    <div class=" container col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="subbox panel">
                                <!--<span class="ribbon_course"></span>-->
                                <a href="{{note.srcfile}}">
                                <div class="photo" style="background-color: {% cycle '#ffb3b3' '#00cccc' '#b3b3ff' '#ffd9b3' '#ffcc66' '#99ff99' '#ff6666' %};">
                                    <span class="word">
                                    {{note.abbr}}
                                    </span>
                                </div></a>
                                <div class="cat"><a href="{{note.srcfile}}">
                                        Uploaded: {{ note.created_date|date:"D,d M Y" }}</a>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="subname" style="width:100%;">
                                            <a href="{{note.srcfile}}">{{note.title}}</a>

                                        </div>
                                    </div>
                                </div>
    </div>
    </div>

    {% endfor %}



              
        
     	 	</div>
    	</div>

<br>
<br>
<br>
<br>


</div>	


{% endblock %}