{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="container">
        
    <div>
        <img class="aboutpic1" src ="{% static "noteapp/images/aboutpic1.png" %}">
    </div>
     
    <div class="container">
        <div class="aboutheading">
            <h1><strong>PRIVACY POLICY</strong></h1>
        </div>
        
            <div class= "privacypara">
            <p>We at <a href="http://notesgeek.com"  style="text-decoration:none;">NotesGeek.com</a> take privacy issues very seriously. This policy covers how NOTESGEEK.COM treats personal information that NOTESGEEK.COM collects and receives when you visit this Website, and use the Services or access the Content. Personal information is information about you that is personally identifiable like your name, address, email address, or phone number, and that is not otherwise publicly available. This policy does not apply to the practices of companies that NOTESGEEK.COM does not own or control, or to people that are not affiliated with NOTESGEEK.COM.<br><br><br>

            Information Collection and Use<br><br>

            NOTESGEEK.COM collects personal information when you register with NOTESGEEK.COM, when you visit this Website, and use the Services or access the Content. When you register on this Website, we ask for information such as your name, e-mail address, mailing address, occupation, industry, and personal interests etc. Once you register with NOTESGEEK.COM and/or Log-in, you are not anonymous to us. NOTESGEEK.COM collects a variety of information about you, including information about your gifts and donations to NOTESGEEK.COM, and your use of the Services and the Content. NOTESGEEK.COM automatically receives and records information on our server logs from your browser, including your IP address, NOTESGEEK.COM cookie information, and the page you request. All the above data and information will be collectively referred to as "Information".<br><br>

            NOTESGEEK.COM uses Information for the following general purposes: to customize the content you see, fulfill your requests for Content and Services, improve our services, contact you, conduct research, and provide anonymous reporting for internal and external clients.<br><br>

            Information Sharing and Disclosure<br><br>

            NOTESGEEK.COM does not rent, sell, or share Information with other people or nonaffiliated entities except • to provide services that you have requested; • when we have your permission; • or under the circumstances detailed below. NOTESGEEK.COM reserves the right to conduct research including, but not limited to, statistical and other forms of analyses based on the Information. Using such research and analyses and the Information collected from you, NOTESGEEK.COM reserves the right to send you certain communications relating to NOTESGEEK.COM and the Content and Services, such as announcements, administrative messages and newsletters, without offering you the opportunity to opt-out of receiving them.<br><br>

            NOTESGEEK.COM reserves the right to provide the Information to trusted partners who work on behalf of or with NOTESGEEK.COM, within the bounds of confidentiality. NOTESGEEK.COM reserves the right to conduct research including, but not limited to, statistical and other forms of analyses based on the Information, and share the research and analyses with trusted partners who work on behalf of or with NOTESGEEK.COM, within the bounds of confidentiality. NOTESGEEK.COM also reserves the right to disclose the Information when required by law or regulation, or when we believe it is necessary to share Information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of NOTESGEEK.COM 's terms of use, or as otherwise required by law.<br><br>

            NOTESGEEK.COM reserves the right to publish research and analyses based on the Information in public forums, including magazines, newspapers, brochures, books and any other form of public disclosure. NOTESGEEK.COM will make every reasonable effort to maintain and protect the privacy of individual members while conducting such research and analyses, and publishing them in a public forum. Please note that if you have any concerns about the above Privacy Policy, you can write to us to express your concerns, or delete your registration entry by contacting the admin at notesgeek<br><br>

            Please note that if you have any concerns about the above Privacy Policy, you can write to us to express your concerns, or delete your registration entry by contacting the Admin.<br><br></p>
            </div>
        </div>
</div> 

{% endblock %}