{% extends "base.html" %}

{% block content %}

{% load staticfiles %}

<div class="container">
        
    <div>
        <img class="aboutpic1" src ="{% static "noteapp/images/aboutpic1.png" %}">
    </div>
     
    <div class="container">
        <div class="aboutheading">
            <h1><strong>SERVICES</strong></h1>
        </div>
        
            <div class= "privacypara">
            <p>
            <h3>Website Designing</h3>We are the professional website design company providing services such as web designing, corporate Website Designing to all the companies having existence on web world. We create beautiful, robust websites for clients all across the globe. A company with expertise in custom designed websites and Internet marketing with impeccable services.<br><br>
            <br>
            
            <h3>Website Re-designing</h3> We are one of the upcoming website redesign companies in the world, we have shown great results to our clients. We give your online identity a fresh and unique look with website redesign services. So, are you unsatisfied with your current website that just is not up to your expectations? We offer you a one stop solution to all your website redesigning needs.<br><br><br>
            
            <h3>Mobile Website</h3>The fastest and easiest way to build a great looking mobile website in minutes with the features like hosting, site analytics, click-to-call and mobile maps and many more. So, we create customized mobile websites and mobile apps for publishers and businesses that work across Smartphone and tablets. So, get your website a mobile look.<br><br><br>
            
            <h3>Web Applications</h3>We offer secure and flexible development, deployment and scaling options for any sized Web application and also undertake the responsibility to build a website which works on every computer and operating system. We also provide compute, storage, and database services that make it easier to scale and maintain cost-effective internet-based apps that run fast.<br><br><br>

            To avail our services, please email us at notesgeek1@gmail.com or call on +91-9013465588<br><br>
            </p>
            </div>
        </div>
</div> 

{% endblock %}